{% extends "layout.html" %}

{% block title %}
    My Balance
{% endblock %}

{% block main %}
    <p>Your balance: {{ balance | usd }}</p>
    <form action="/add" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="bank_account_number" name="bank_account_number" placeholder="Bank account number" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="cash" name="cash" placeholder="amount" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Load your balance</button>
    </form>
{% endblock %}
