{% extends "layout.html" %}

{% block title %}
    Sell shares
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select name="symbol" class="form-select mx-auto w-auto">
                <option disable selected value>Symbol</option>
                {% for symbol in symbols %}
                <option value="{{symbol}}">{{symbol}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="number of shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Sell shares</button>
    </form>
{% endblock %}
